# Preprocessing for Machine Learning in Python by Ninh Nguyen

In [1]:
# import package
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA

In [2]:
volunteer = pd.read_csv('volunteer_opportunities.csv')
volunteer

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,...,July 30 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5016,37143,20,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,NaN,1.0,Strengthening Communities,...,January 29 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5022,37237,500,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,NaN,1.0,Strengthening Communities,...,March 31 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5055,37425,15,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,Environment,...,February 05 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,5640,50193,3,0,Volunteer for NYLAG's Food Stamps Project,197,"Volunteers needed to file for fair hearings, d...",NaN,2.0,Helping Neighbors in Need,...,November 15 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,5218,38711,10,0,Iridescent Science Studio Open House Volunteers,113,Come out to the South Bronx to help us hold ou...,NaN,1.0,Strengthening Communities,...,April 13 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
662,5541,47820,1,0,French Translator,145,Volunteer needed to translate written material...,NaN,2.0,Helping Neighbors in Need,...,September 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,5398,40722,2,0,Marketing & Advertising Volunteer,330,World Cares Center is looking for individuals ...,NaN,1.0,Strengthening Communities,...,May 31 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,5507,44303,5,0,Volunteer filmmakers to help Mayor's Office wi...,304,"Attention all filmmakers, producers, and edito...",NaN,1.0,Strengthening Communities,...,October 06 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop the Latitude and Longitude columns from volunteer
volunteer_cols = volunteer.drop(["Latitude", "Longitude"], axis=1)

# Drop rows with missing category_desc values from volunteer_cols
volunteer_subset = volunteer_cols.dropna(subset=["category_desc"])

# Print out the shape of the subset
print(volunteer_subset.shape)

(617, 33)

In [4]:
# Print the head of the hits column
print(volunteer["hits"].head())

# Convert the hits column to type int
volunteer["hits"] = volunteer["hits"].astype("int")

# Look at the dtypes of the dataset
print(volunteer.dtypes)

0    737
1     22
2     62
3     14
4     31
Name: hits, dtype: int64
opportunity_id          int64
content_id              int64
vol_requests            int64
event_time              int64
title                  object
hits                    int64
summary                object
is_priority            object
category_id           float64
category_desc          object
amsl                  float64
amsl_unit             float64
org_title              object
org_content_id          int64
addresses_count         int64
locality               object
region                 object
postalcode            float64
primary_loc           float64
display_url            object
recurrence_type        object
hours                   int64
created_date           object
last_modified_date     object
start_date_date        object
end_date_date          object
status                 object
Latitude              float64
Longitude             float64
Community Board       float64
Community Council     float64
Census Tract          float64
BIN                   float64
BBL                   float64
NTA                   float64
dtype: object

In [5]:
# # Create a DataFrame with all columns except category_desc
# X = volunteer.drop(columns=['category_desc'])

# # Create a category_desc labels dataset
# y = volunteer[['category_desc']]

# # Use stratified sampling to split up the dataset according to the y dataset
# X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

# # Print the category_desc counts from y_train
# print(volunteer['category_desc'].value_counts())

In [6]:
wine = pd.read_csv('wine_types.csv')
wine

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [7]:
X = wine.drop(columns=['Type'])
y = wine['Type']

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

knn = KNeighborsClassifier()

# Fit the knn model to the training data
knn.fit(X_train, y_train)

# Score the model on the test data
print(knn.score(X_test, y_test))

0.7777777777777778

In [8]:
# Print out the variance of the Proline column
print(wine["Proline"].var())

# Apply the log normalization function to the Proline column
wine["Proline_log"] = np.log(wine["Proline"])

# Check the variance of the normalized Proline column
print(wine["Proline_log"].var())

99166.71735542428
0.17231366191842018

In [9]:
# Create the scaler
scaler = StandardScaler()

# Subset the DataFrame you want to scale 
wine_subset = wine[["Ash", "Alcalinity of ash", "Magnesium"]]

# Apply the scaler to wine_subset
wine_subset_scaled = scaler.fit_transform(wine_subset)

In [10]:
# Split the dataset and labels into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

# Fit the k-nearest neighbors model to the training data
knn.fit(X_train, y_train)

# Score the model on the test data
print(knn.score(X_test, y_test))

0.7777777777777778

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

# Instantiate a StandardScaler
scaler = StandardScaler()

# Scale the training and test features
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Fit the k-nearest neighbors model to the training data
knn.fit(X_train_scaled, y_train)

# Score the model on the test data
print(knn.score(X_test_scaled, y_test))

0.9333333333333333

In [12]:
hiking = pd.read_json('hiking.json')
hiking

,Prop_ID,Name,Location,Park_Name,Length,Difficulty,Other_Details,Accessible,Limited_Access,lat,lon
0,B057,Salt Marsh Nature Trail,"Enter behind the Salt Marsh Nature Center, loc...",Marine Park,0.8 miles,None,<p>The first half of this mile-long trail foll...,Y,N,NaN,NaN
1,B073,Lullwater,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,1.0 mile,Easy,Explore the Lullwater to see how nature thrive...,N,N,NaN,NaN
2,B073,Midwood,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.75 miles,Easy,Step back in time with a walk through Brooklyn...,N,N,NaN,NaN
3,B073,Peninsula,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Discover how the Peninsula has changed over th...,N,N,NaN,NaN
4,B073,Waterfall,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Trace the source of the Lake on the Waterfall ...,N,N,NaN,NaN
5,Q001,Alley Pond Trails,"Park-wide. Check out our <a href=""/park-featur...",Alley Pond Park,Various,Various,Numerous trails wind through native hardwood (...,N,N,NaN,NaN
6,Q015,Blue Trail,"Forest Park Drive East, off of Woodhaven Boule...",Forest Park,1.7 miles,,Forest Park's numerous trails wind through nat...,N,N,NaN,NaN
7,Q015,Orange Trail,Memorial Drive and Forest Park Drive East,Forest Park,2.4 miles,None,This trail will lead you through a 2.4 mile ad...,N,N,NaN,NaN
8,Q015,Yellow Trail,Metropolitan Avenue & Forest Park Drive East,Forest Park,1.0 mile,,,N,N,NaN,NaN
9,Q021,South Preserve Trail,Francis Lewis Boulevard and Union Turnpike,Cunningham Park,3.0 miles,None,Numerous unnamed trails wind through native ha...,N,N,NaN,NaN
10,R013,Greenbelt Blue Trail (Southern Trailhead),Brielle Avenue & Roanoake Street,La Tourette Parks & Golf Course,12.3 miles,Easy/Moderate,This is the Greenbelt&rsquo;s longest marked t...,N,N,NaN,NaN
11,R013,Greenbelt Nature Center Trail,Rockland & Brielle avenues,La Tourette Parks & Golf Course,0.85 miles,Easy,This gentle walk takes you through a forest of...,N,N,NaN,NaN
12,R013,Greenbelt Red Trail,Richmond Road and St. Patrick's Place,La Tourette Parks & Golf Course,4.0 miles,Easy/Moderate,This loop trail is in the heart of the Greenbe...,N,N,NaN,NaN
13,R013,Greenbelt White Trail (Southern),Rockland Avenue near Brielle Avenue (mid-way t...,La Tourette Parks & Golf Course,7.6 miles,Easy/Moderate,Connects to Great Kills Park of the Gateway Na...,N,N,NaN,NaN
14,R013,Greenbelt Yellow Trail (Southwest Trailhead),Richmond Avenue & Forest Hill Road,La Tourette Parks & Golf Course,8.0 miles,Moderate/Difficult,Traverses the entire Greenbelt from its Northe...,N,N,NaN,NaN
15,R017,William T. Davis Wildlife Refuge Pink Trail,Mulberry Avenue off Travis Avenue (limited par...,William T. Davis Wildlife Refuge,0.5 miles,Easy,Excellent birdwatching location; abounds with ...,N,N,NaN,NaN
16,R030,Willowbrook Park White Trail,Willowbrook Park off Victory Boulevard,Willowbrook Park,7.6 miles,Easy/Moderate,Connects to Great Kills Park of the Gateway Na...,N,N,NaN,NaN
17,R088,Gretta Moulton Trail/Green Trail,200 feet ahead of parking lot at the terminus ...,High Rock Park,0.75 miles,Moderate,The trail head of this circular trail is off t...,N,N,NaN,NaN
18,R088,High Rock Park Lavender Trail,200 feet ahead of parking lot at the terminus ...,High Rock Park,0.25 miles,Easy,"Jewelweed, skunk cabbage, and various grasses ...",N,N,NaN,NaN
19,R115,Deere Park Blue Trail,Staten Island Boulevard,Deere Park,12.3 miles,Easy/Moderate,This is the Greenbelt&rsquo;s longest marked t...,N,N,NaN,NaN
20,X092,Cass Gallagher Nature Trail,A short walk in from the intersection of Broad...,Van Cortlandt Park,1.4 miles,Moderate/Difficult,,N,N,NaN,NaN
21,X092,John Kieran Trail,Enter at Golf Course via Van Cortlandt Park So...,Van Cortlandt Park,1.25 miles,Easy,Maps are available at the Van Cortlandt Nature...,N,N,NaN,NaN
22,X092,John Muir Trail,Enter either at Broadway & Mosholu Avenue or V...,Van Cortlandt Park,1.5 miles,Moderate,Travel through three ecologically distinct for...,N,Y,NaN,NaN
23,X092,Old Croton Aqueduct Trail,Enter Trail at either Dickinson Avenue & Van C...,Van Cortlandt Park,1.1 mile,Easy/Moderate,[Trail renovations will begin soon. Please bea...,N,N,NaN,NaN
24,X092,Putnam Trail,Enter the park at Van Cortlandt Park South and...,Van Cortlandt Park,1.5 miles,Easy,This section of the 15-mile trail that runs up...,N,N,NaN,NaN
25,R120,Arden Woods Trail,Arden & Legate Avenue,Arden Woods,1.2 miles,Easy,None,N,N,NaN,NaN
26,R031,Wolfe's Pond Trail,Hylan Boulevard & Cornelia Avenue,Wolfes Pond Park,0.75 miles,Easy,Both hikers and mountain bikers can explore mi...,N,N,NaN,NaN
27,R027,Long Pond Trail,Page Avenue & Eugene Street,Long Pond Park,1.5 miles,Easy,None,N,N,NaN,NaN
28,R005,Clove Lakes Park Trail,Victory Boulevard,Clove Lakes Park,3.0 miles,Easy,"Visitors can enjoy walks by its valley lakes, ...",N,N,NaN,NaN
29,X039,Kazimiroff Trail,Hunter Island,Pelham Bay Park,None,None,Leave the city far behind on the Kazimiroff Na...,N,N,NaN,NaN
30,M042,Inwood Hill Park Hiking Trail,"Check out our <a href=""/park-features/hiking/i...",Inwood Hill Park,None,Moderate,Take a step back in time and imagine Manhattan...,N,N,NaN,NaN
31,X002,Bronx River Forest Trail,Enter at East Gun Hill Road for Red Trail and ...,Bronx Park,None,None,<p>The Bronx River Forest trails offer a river...,N,N,NaN,NaN
32,R006,Conference House Park Trails,"Check out our <a href=""/park-features/hiking/c...",Conference House Park,None,None,The Conference House Blue Trail extends from S...,N,N,NaN,NaN

In [13]:
# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
hiking["Accessible_enc"] = enc.fit_transform(hiking["Accessible"])

# Compare the two columns
print(hiking[["Accessible_enc", "Accessible"]].head())

   Accessible_enc Accessible
0               1          Y
1               0          N
2               0          N
3               0          N
4               0          N

In [14]:
# Transform the category_desc column
category_enc = pd.get_dummies(volunteer["category_desc"])

# Take a look at the encoded columns
category_enc.head()

,Education,Emergency Preparedness,Environment,Health,Helping Neighbors in Need,Strengthening Communities
0,0,0,0,0,0,0
1,0,0,0,0,0,1
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,1,0,0,0

In [15]:
# First, convert string column to date column
volunteer["start_date_converted"] = pd.to_datetime(volunteer["start_date_date"])

# Extract just the month from the converted column
volunteer["start_date_month"] = volunteer["start_date_converted"].dt.month

# Take a look at the converted and new month columns
print(volunteer[["start_date_converted", "start_date_month"]].head())

  start_date_converted  start_date_month
0           2011-07-30                 7
1           2011-02-01                 2
2           2011-01-29                 1
3           2011-02-14                 2
4           2011-02-05                 2

In [16]:
# # Write a pattern to extract numbers and decimals
# def return_mileage(length):
    
#     # Search the text for matches
#     mile = re.search("\d+\.\d+", length)
    
#     # If a value is returned, use group(0) to return the found value
#     if mile is not None:
#         return float(mile.group(0))
        
# # Apply the function to the Length column and take a look at both columns
# hiking["Length_num"] = hiking["Length"].apply(return_mileage)
# print(hiking[["Length", "Length_num"]].head())

In [17]:
# Take the title text
title_text = volunteer["title"]

# Create the vectorizer method
tfidf_vec = TfidfVectorizer()

# Transform the text into tf-idf vectors
text_tfidf = tfidf_vec.fit_transform(title_text)

In [18]:
# # Split the dataset according to the class distribution of category_desc
# y = volunteer["category_desc"]
# X_train, X_test, y_train, y_test = train_test_split(text_tfidf.toarray(), y, stratify=y, random_state=42)

# # Fit the model to the training data
# nb.fit(X_train, y_train)

# # Print out the model's accuracy
# print(nb.score(X_test, y_test))

In [19]:
# Create a list of redundant column names to drop
to_drop = ["category_desc", "created_date", "locality", "region", "vol_requests"]

# Drop those columns from the dataset
volunteer_subset = volunteer.drop(to_drop, axis=1)

# Print out the head of volunteer_subset
volunteer_subset.head()

,opportunity_id,content_id,event_time,title,hits,summary,is_priority,category_id,amsl,amsl_unit,...,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA,start_date_converted,start_date_month
0,4996,37004,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-30,7
1,5008,37036,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-02-01,2
2,5016,37143,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-01-29,1
3,5022,37237,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-02-14,2
4,5055,37425,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-02-05,2

In [20]:
# Print out the column correlations of the wine dataset
print(wine.corr())

# Drop that column from the DataFrame
wine = wine.drop("Flavanoids", axis=1)

wine.head()

                                  Type   Alcohol  Malic acid       Ash  \
Type                          1.000000 -0.328222    0.437776 -0.049643
Alcohol                      -0.328222  1.000000    0.094397  0.211545
Malic acid                    0.437776  0.094397    1.000000  0.164045
Ash                          -0.049643  0.211545    0.164045  1.000000
Alcalinity of ash             0.517859 -0.310235    0.288500  0.443367
Magnesium                    -0.209179  0.270798   -0.054575  0.286587
Total phenols                -0.719163  0.289101   -0.335167  0.128980
Flavanoids                   -0.847498  0.236815   -0.411007  0.115077
Nonflavanoid phenols          0.489109 -0.155929    0.292977  0.186230
Proanthocyanins              -0.499130  0.136698   -0.220746  0.009652
Color intensity               0.265668  0.546364    0.248985  0.258887
Hue                          -0.617369 -0.071747   -0.561296 -0.074667
OD280/OD315 of diluted wines -0.788230  0.072343   -0.368710  0.003911
Proline                      -0.633717  0.643720   -0.192011  0.223626
Proline_log                  -0.569246  0.637325   -0.152643  0.238394

                              Alcalinity of ash  Magnesium  Total phenols  \
Type                                   0.517859  -0.209179      -0.719163
Alcohol                               -0.310235   0.270798       0.289101
Malic acid                             0.288500  -0.054575      -0.335167
Ash                                    0.443367   0.286587       0.128980
Alcalinity of ash                      1.000000  -0.083333      -0.321113
Magnesium                             -0.083333   1.000000       0.214401
Total phenols                         -0.321113   0.214401       1.000000
Flavanoids                            -0.351370   0.195784       0.864564
Nonflavanoid phenols                   0.361922  -0.256294      -0.449935
Proanthocyanins                       -0.197327   0.236441       0.612413
Color intensity                        0.018732   0.199950      -0.055136
Hue                                   -0.273955   0.055398       0.433681
OD280/OD315 of diluted wines          -0.276769   0.066004       0.699949
Proline                               -0.440597   0.393351       0.498115
Proline_log                           -0.416897   0.424006       0.431205

                              Flavanoids  Nonflavanoid phenols  \
Type                           -0.847498              0.489109
Alcohol                         0.236815             -0.155929
Malic acid                     -0.411007              0.292977
Ash                             0.115077              0.186230
Alcalinity of ash              -0.351370              0.361922
Magnesium                       0.195784             -0.256294
Total phenols                   0.864564             -0.449935
Flavanoids                      1.000000             -0.537900
Nonflavanoid phenols           -0.537900              1.000000
Proanthocyanins                 0.652692             -0.365845
Color intensity                -0.172379              0.139057
Hue                             0.543479             -0.262640
OD280/OD315 of diluted wines    0.787194             -0.503270
Proline                         0.494193             -0.311385
Proline_log                     0.410494             -0.275675

                              Proanthocyanins  Color intensity       Hue  \
Type                                -0.499130         0.265668 -0.617369
Alcohol                              0.136698         0.546364 -0.071747
Malic acid                          -0.220746         0.248985 -0.561296
Ash                                  0.009652         0.258887 -0.074667
Alcalinity of ash                   -0.197327         0.018732 -0.273955
Magnesium                            0.236441         0.199950  0.055398
Total phenols                        0.612413        -0.055136  0.433681
Flavanoids                           0.652692        -0.172379  0.543479
Nonflavanoid phenols                -0.365845         0.139057 -0.262640
Proanthocyanins                      1.000000        -0.025250  0.295544
Color intensity                     -0.025250         1.000000 -0.521813
Hue                                  0.295544        -0.521813  1.000000
OD280/OD315 of diluted wines         0.519067        -0.428815  0.565468
Proline                              0.330417         0.316100  0.236183
Proline_log                          0.290203         0.348970  0.173593

                              OD280/OD315 of diluted wines   Proline  \
Type                                             -0.788230 -0.633717
Alcohol                                           0.072343  0.643720
Malic acid                                       -0.368710 -0.192011
Ash                                               0.003911  0.223626
Alcalinity of ash                                -0.276769 -0.440597
Magnesium                                         0.066004  0.393351
Total phenols                                     0.699949  0.498115
Flavanoids                                        0.787194  0.494193
Nonflavanoid phenols                             -0.503270 -0.311385
Proanthocyanins                                   0.519067  0.330417
Color intensity                                  -0.428815  0.316100
Hue                                               0.565468  0.236183
OD280/OD315 of diluted wines                      1.000000  0.312761
Proline                                           0.312761  1.000000
Proline_log                                       0.254218  0.977423

                              Proline_log
Type                            -0.569246
Alcohol                          0.637325
Malic acid                      -0.152643
Ash                              0.238394
Alcalinity of ash               -0.416897
Magnesium                        0.424006
Total phenols                    0.431205
Flavanoids                       0.410494
Nonflavanoid phenols            -0.275675
Proanthocyanins                  0.290203
Color intensity                  0.348970
Hue                              0.173593
OD280/OD315 of diluted wines     0.254218
Proline                          0.977423
Proline_log                      1.000000

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Proline_log
0,1,14.23,1.71,2.43,15.6,127,2.80,0.28,2.29,5.64,1.04,3.92,1065,6.970730
1,1,13.20,1.78,2.14,11.2,100,2.65,0.26,1.28,4.38,1.05,3.40,1050,6.956545
2,1,13.16,2.36,2.67,18.6,101,2.80,0.30,2.81,5.68,1.03,3.17,1185,7.077498
3,1,14.37,1.95,2.50,16.8,113,3.85,0.24,2.18,7.80,0.86,3.45,1480,7.299797
4,1,13.24,2.59,2.87,21.0,118,2.80,0.39,1.82,4.32,1.04,2.93,735,6.599870

In [21]:
# Instantiate a PCA object
pca = PCA()

# Define the features and labels from the wine dataset
X = wine.drop("Type", axis=1)
y = wine["Type"]

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

# Apply PCA to the wine dataset
pca_X_train = pca.fit_transform(X_train)
pca_X_test = pca.transform(X_test)

# Look at the percentage of variance explained by the different components
print(pca.explained_variance_ratio_)

[9.97802288e-01 2.02071651e-03 9.82347993e-05 5.54019611e-05
 1.10408259e-05 5.87484562e-06 3.13893813e-06 1.54438959e-06
 1.03141481e-06 3.91189147e-07 1.96993158e-07 9.16013156e-08
 4.88903890e-08]

In [22]:
# Fit knn to the training data
knn.fit(pca_X_train, y_train)

# Score knn on the test data and print it out
print(knn.score(pca_X_test, y_test))

0.7777777777777778

In [23]:
ufo = pd.read_csv('ufo_sightings_large.csv')
ufo

,date,city,state,country,type,seconds,length_of_time,desc,recorded,lat,long
0,11/3/2011 19:21,woodville,wi,us,unknown,1209600.0,2 weeks,Red blinking objects similar to airplanes or s...,12/12/2011,44.9530556,-92.291111
1,10/3/2004 19:05,cleveland,oh,us,circle,30.0,30sec.,Many fighter jets flying towards UFO,10/27/2004,41.4994444,-81.695556
2,9/25/2009 21:00,coon rapids,mn,us,cigar,0.0,NaN,Green&#44 red&#44 and blue pulses of light tha...,12/12/2009,45.1200000,-93.287500
3,11/21/2002 05:45,clemmons,nc,us,triangle,300.0,about 5 minutes,It was a large&#44 triangular shaped flying ob...,12/23/2002,36.0213889,-80.382222
4,8/19/2010 12:55,calgary (canada),ab,ca,oval,0.0,2,A white spinning disc in the shape of an oval.,8/24/2010,51.083333,-114.083333
...,...,...,...,...,...,...,...,...,...,...,...
4930,7/5/2000 19:30,schnecksville,pa,us,oval,5.0,about 5 seconds,On my bike when i saw a shiny silver oval not ...,7/11/2000,40.6677778,-75.607500
4931,3/18/2008 22:00,gibson,ga,us,triangle,25.0,25 seconds,Three sided stationary object turning clockwi...,3/31/2008,33.2333333,-82.595556
4932,6/15/2005 02:30,kent,wa,us,circle,0.0,early morning,Cicle object over Washington state all differe...,10/30/2006,47.3811111,-122.233611
4933,11/1/1991 03:00,niles,mi,us,triangle,7200.0,2 hours,Triangle zigzagged. Another shined light on u...,9/2/2005,41.8297222,-86.254167
4934,12/10/2005 18:00,phoenix,az,us,other,60.0,1 minutes,Close encounter of the third kind.,12/20/2012,33.4483333,-112.073333

In [24]:
# Print the DataFrame info
print(ufo.info())

# Change the type of seconds to float
ufo["seconds"] = ufo["seconds"].astype(float)

# Change the date column to type datetime
ufo["date"] = pd.to_datetime(ufo["date"])

# Check the column types
print(ufo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4935 entries, 0 to 4934
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4935 non-null   object
 1   city            4926 non-null   object
 2   state           4516 non-null   object
 3   country         4255 non-null   object
 4   type            4776 non-null   object
 5   seconds         4935 non-null   float64
 6   length_of_time  4792 non-null   object
 7   desc            4932 non-null   object
 8   recorded        4935 non-null   object
 9   lat             4935 non-null   object
 10  long            4935 non-null   float64
dtypes: float64(2), object(9)
memory usage: 424.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4935 entries, 0 to 4934
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4935 non-null   datetime64[ns]
 1   city            4926 non-null   object
 2   state           4516 non-null   object
 3   country         4255 non-null   object
 4   type            4776 non-null   object
 5   seconds         4935 non-null   float64
 6   length_of_time  4792 non-null   object
 7   desc            4932 non-null   object
 8   recorded        4935 non-null   object
 9   lat             4935 non-null   object
 10  long            4935 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 424.2+ KB
None

In [25]:
# Count the missing values in the length_of_time, state, and type columns, in that order
print(ufo[["length_of_time", "state", "type"]].isna().sum())

# Drop rows where length_of_time, state, or type are missing
ufo_no_missing = ufo.dropna(subset=["length_of_time", "state", "type"])

# Print out the shape of the new dataset
print(ufo_no_missing.shape)

length_of_time    143
state             419
type              159
dtype: int64
(4283, 11)

In [26]:
# Use pandas to encode us values as 1 and others as 0
ufo["country_enc"] = ufo["country"].apply(lambda val: 1 if val == "us" else 0)

# Print the number of unique type values
print(len(ufo["type"].unique()))

# Create a one-hot encoded set of the type values
type_set = pd.get_dummies(ufo["type"])

# Concatenate this set back to the ufo DataFrame
ufo = pd.concat([ufo, type_set], axis=1)

22

In [27]:
# Look at the first 5 rows of the date column
print(ufo["date"].head())

# Extract the month from the date column
ufo["month"] = ufo["date"].dt.month

# Extract the year from the date column
ufo["year"] = ufo["date"].dt.year

# Take a look at the head of all three columns
print(ufo[["date", "month", "year"]].head())

0   2011-11-03 19:21:00
1   2004-10-03 19:05:00
2   2009-09-25 21:00:00
3   2002-11-21 05:45:00
4   2010-08-19 12:55:00
Name: date, dtype: datetime64[ns]
                 date  month  year
0 2011-11-03 19:21:00     11  2011
1 2004-10-03 19:05:00     10  2004
2 2009-09-25 21:00:00      9  2009
3 2002-11-21 05:45:00     11  2002
4 2010-08-19 12:55:00      8  2010

In [28]:
# Take a look at the features in the X set of data
print(X.columns)

# Split the X and y sets
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

# Fit knn to the training sets
knn.fit(X_train, y_train)

# Print the score of knn on the test sets
print(knn.score(X_test, y_test))

Index(['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
       'Total phenols', 'Nonflavanoid phenols', 'Proanthocyanins',
       'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline',
       'Proline_log'],
      dtype='object')
0.7777777777777778